/************************************************* Header ********************************************************************/
#Header .head-links .list-inline-item a{color:#fff; font-size:16px;} #Header .head-links .list-inline-item a:hover{color:#ccc !important;} #Header .head-links .list-inline-item:not(:last-child) {margin-right:22px;}
.custom-class{padding-top:35px;}
#Header select.form-control, select.form-control:focus{box-shadow: none !important;}
#Header input.form-control, input.form-control:focus {font-size: 16px !important;height: 40px !important;box-shadow: none !important;}
#Header  .form-select{font-size:16px !important; font-weight:300; background-color:transparent; border-color:transparent !important; border-radius:0px;height:50px; color:#fff; font-family: 'Nunito Sans', sans-serif; letter-spacing:0em; border-bottom:1px solid #6d6f6f !important; padding:0px;  background-position: right !important; box-shadow: none !important;-moz-box-shadow: none; -webkit-box-shadow: none !important;}
#Header .head-links .list-inline-item img:hover{opacity:50%;}

#Search .input-group{margin-top:5px;}
#Search .form-control{height:40px; border-radius:0px !important	; border-color:#ccc; z-index:999;} 
#Search .btn{height:40px;border-radius:0px; padding:2px 13px;border-color:#000; z-index:999} 
#Search .btn-dark{background-color:#000 !important; border-color:#000 !important;} 
#Search .btn-danger:hover{background:#fff !important; color:#000 !important;}
#Search .btn{padding:2px 14px; border-radius:0px;}
#Search .form-control:focus  {outline:none !important;outline-width: 0 !important;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
#Search .btn:focus  {outline:none !important;outline-width: 0 !important;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
/********** Mainbanner **************************************************************************************************/
.MainBanner .carousel-caption {z-index:99;display:flex;justify-content:center;align-items:center;margin:auto;left:0;right:0; top:-550px;}

/********** Collection **************************************************************************************************/
#Collection {background:url(../images/collection-bg.png) no-repeat center right; background-size:cover; min-height:1003px;}
#Collection .w-75{width: 40% !important;text-align: center;}
/********** Shop **************************************************************************************************/
#Shop .owl-theme .owl-dots .owl-dot span {width: 8px;height: 8px;margin: 30px 13px 30px 13px;background: #868686 !important;} 
#Shop .owl-theme .owl-dots .owl-dot.active span{background:#868686 !important; border:1px solid #868686 !important; height:8px !important; width:8px !important;}
#Shop .owl-dots {position: absolute;top: -95px; left:0; right:0;}
#Shop a {text-decoration: underline !important;text-underline-offset: 25px !important; font-size:24px; letter-spacing:.2em;}

/********** Collection **************************************************************************************************/
#Explore {background:url(../images/explore-bg.png) no-repeat center left; background-size:cover; min-height:1003px;} #Explore .w-75{width: 40% !important;text-align: center;}

/************************************************* Follow ********************************************************************/
#Follow .Slider {position: relative;}  #Follow a:hover.text-secondary{color:#000 !important;} #Follow a{font-size:20px; letter-spacing:.1em;}
#Follow .Slider .cycle-prev, #Follow .Slider .cycle-next {position:absolute; top:46%; right:15px; z-index:99; cursor:pointer;}
#Follow .Slider .cycle-prev {left:15px; right:auto;} 
#Follow .Slider .slideshow {overflow:hidden;}
#Follow .Slider .slideshow .isItem {white-space:normal; vertical-align:top;} #Follow .fa-lg{font-size:30px; color:#fff;}
/********** Footer ***************************************************************************************************/

#Footer{color:#000; font-size:14px; line-height:2.3; font-weight:300;}
#Footer a{color:#000;}#Footer a:hover{color:#ccc;}
#Footer .fa-lg{font-size:17px;}
#Footer .input-group .form-control{background:#fff; border-radius:0; border:1px solid #fff !important; box-shadow:none; color:#C7C7C7; font-size:20px; height:50px; padding-left:20px; font-weight:300;} 
#Footer .input-group .btn-secondary{background:#585858;border-radius:0; border:0 !important; color:#fff !important; font-size:28px; padding:auto 40px !important; height:50px;}
#Footer .input-group .btn:hover{background:#fff !important; color:#000 !important;}
#Footer .form-control::placeholder{color:#C7C7C7;}  #Footer .fa-sm{font-size:30px;}
/*************************************************************************************************************/
.container{max-width:1250px !important;}

/* ============ desktop view ============ */
@media all and (min-width: 1025px) {
	.navbar .nav-item .dropdown-menu{ display:none;}
	.navbar .nav-item:hover .nav-link{ color:#fff;}
	.navbar .nav-item:hover .dropdown-menu{ display:block;}
	.navbar .nav-item .dropdown-menu{ margin-top:0;}
}	
/* ============ desktop view .end// ============ */

.gx-xxl-4 {margin-left:-13px!important;margin-right:-13px!important;}
.gx-xxl-4 div[class^="col"]{padding-left:13px!important;padding-right:13px!important;}

.gx-xxl-6 {margin-left:-8px!important;margin-right:-8px!important;}
.gx-xxl-6 div[class^="col"]{padding-left:8px!important;padding-right:8px!important;}

@media (min-width:767.98px) {
#Header {top:0px; -webkit-transition:0.5s; -moz-transition:0.5s; -ms-transition:0.5s; transition:0.5s;}
.shrink {background:rgba(0,0,0,.95); box-shadow:0px 5px 12px rgba(0,0,0,.5); z-index:999;}
.shrink.custom-class{padding-top:10px !important; padding-bottom:10px !important;}


}
@media (min-width:992.98px) {
#Footer .Border-right{border-right:1px solid #3d3c3c !important; padding-right: 50px;}

}


@media (min-width: 1920px) {.MainBanner .carousel-caption{top:-876px !important;}
}
@media (min-width: 1200px) {

}
@media (min-width: 1600px) {

}
@media (min-width: 1400px) {.MainBanner .carousel-caption{top:-700px;}


}

@media (min-width: 1459.98px) and (max-width: 1559.98px) {.MainBanner .carousel-caption{top:-650px;}


}

@media (min-width: 1199.98px) and (max-width: 1359.98px) {.MainBanner .carousel-caption{top:-550px;}

}

@media (min-width: 991.98px) and (max-width: 1199.98px){.MainBanner .carousel-caption{top:0px; bottom:0px;}  h1, .h1 {font-size: 30px;}  #Follow .fs-40 {font-size: 30px !important;}
#Collection {min-height: 700px;} #Explore {min-height: 700px;}}


@media (min-width: 768px) and (max-width: 991.98px) {.MainBanner .carousel-caption{top:0px; bottom:0px;} #Header .head-links .list-inline-item:not(:last-child) {margin-right:10px;} h1, .h1 {font-size: 25px;}  #Follow .fs-40 {font-size: 25px !important;}  #Collection {min-height: 600px;} #Explore {min-height: 600px;} #Collection .w-75 {width: 50% !important;
} #Explore .w-75 {width: 50% !important;} #Shop a {font-size: 20px;} #Footer .footer-logo{display: block;margin-left: auto;margin-right: auto;}}

@media (max-width:767.98px) {#Header{position:static; background:#000; padding:10px 0px;}.MainBanner .carousel-caption{top:0px; bottom:0px;} #Header .head-links .list-inline-item:not(:last-child) {margin-right: 14px;} h1, .h1 {font-size: 25px;}  #Follow .fs-40 {font-size: 25px !important;}  #Collection {min-height: 500px;} #Explore {min-height: 500px;} #Collection .w-75 {width: 60% !important;} #Explore .w-75 {width: 60% !important;} #Shop a {font-size: 18px;}  #Footer .footer-logo{display: block;margin-left: auto;margin-right: auto;}  #Follow a {font-size: 18px;}
}

@media (max-width:575.98px) {#Collection .btn{letter-spacing:0.1em;} #Explore .btn{letter-spacing:0.1em;} #Collection .w-75 {width: 100% !important;} #Explore .w-75 {width: 100% !important;}
}
